<!doctype html>
<form action = "http://localhost:5000/calculate" method = "post">
    <p><input type = "text" name = "num1" /></p>
    <p><input type = "text" name = "num2" /></p>
    <p>
        <select name="calculation">
            <option value='add'>add</option>
            <option value='subtract'>subtract</option>
            <option value='multiply'>multiply</option>
            <option value='divide'>divide</option>
        </select>
    </p>
    <p><input type = "submit" value = "submit" /></p>
 </form>