{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col text-center">
        <h1>Edit Snack</h1>
    </div>
</div>
<form action="/snacks/{{snack.id}}?_method=PATCH" method="POST">
    <div class="mb-3">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="name" value={{snack.name}}>
    </div>
    <div class="mb-3">
        <label for="inputKind" class="form-label">Kind</label>
        <input type="text" name="kind" class="form-control" id="kind" value={{snack.kind}}>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}